<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="DashManagement">

	 <!--  <listeners>
		<listener class-name="com.dashManagement.utilities.Reporting" />
	</listeners>  -->


	<test name="DashTest">
		<parameter name="browser" value="chrome" />
		
		
		
		
		<classes>  
			 		 	      <!--  <class name="com.projects.templates.testCases.AllFieldTypeTestCases" />   -->
			 		
 			 	 	
 			 	 	<!-- 
	 		               <class name="com.projects.templates.testCases.AllFieldTypeTestCases" >
									<methods> <include name= "validateStoreAllField"/> </methods> </class>    -->  
					   
					  
				 	  
				 
					 <class name="com.elements.testCases.TC_ElementsPageTest_002" >
					<methods> <include name= "validateDurationLetterElementPage"/> </methods> </class>  
								  
					  		
		</classes>

	</test>

</suite>