<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="DashManagement">

	 <!--  <listeners>
		<listener class-name="com.dashManagement.utilities.Reporting" />
	</listeners>  -->


	<test name="DashTest">
		<parameter name="browser" value="chrome" />
		
		
		
		<classes>
		
		
			 
		
			    <!--    <class name="com.projects.templates.testCases.TC_StoreTemplatesPageTest_002" >
					<methods>	 <include name= "validateStoreElementNumericField"/> 
								<include name= "validateStoreElementSignatureField"/> 
								<include name= "validateStoreElementDateField"/> </methods> 	
								</class>   
					 -->
					 
					
					
			 		
				   <class name="com.projects.templates.testCases.TC_StoreTemplatesPageTest_002" >
					<methods> <include name= "validateStoreElementNumericField"/> </methods> </class>
					 
					
		  <!--  	  <class name="com.projects.activities.testCases.TC_ProgramPriorityTest_002" /> -->
	  		
		  		
		  		
		  		
		  		
			
		</classes>

	</test>

</suite>